.sidebar {
    background-color: red;
    background-color: red;
    min-width: 300px;
    height: 100vh;
    display: inline-block;
    color: #f1f1f1;

    h1 {
        font-size: 30px;
        text-align: center;
    }
}
