.dropshipper-layout {
    width: 100%;

    a {
        display: block;
        font-size: 40px;
        font-weight: 700;
        cursor: pointer;
        text-decoration: none;
    }

    main {
        display: flex;

        .content {
            padding: 30px;
        }
    }

    .content {
        width: 100%;
    }
}
