.loader {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color:rgba(255,255,255,1);
}
