$greenSeaweed: rgba(2, 128, 144, 1);
$blueQueen: rgba(69, 105, 144, 1);
$redFire: #6F64F8;

.import-page {
    a {
      font-size: 40px;
      font-weight: 700;
      cursor: pointer;
      text-decoration: none;
    }
}