.dropsipper-home {
    a {
        font-size: 40px;
        font-weight: 700;
        cursor: pointer;
        text-decoration: none;
    }

    h2 {
        margin: 0px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 30px;

        a {
            margin-right: 20px;
        }
    }
}
