body {
  margin: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  background-color: #6F64F8;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0px;
  padding: 0px;
  margin-bottom: 30px;
}

a {
    color: blue;
}
